{% include "header.html" %}


    <div class="container" id="header">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hi, I'm Steve</h1>
          </div>
            <div class="site-subheading">
                <span>An aspiring <span class="underlined">web developer</span></span>
                <br>
                <span>with a background in Science and Medicine.</span>
                <br><br>
                <br>
                <span>Thank you for visiting my page.</span>
            </div>
            </div>
      </div>
    </div>

    <div class="container-fluid " id="maincard">
      <div class="row">
          {% for link in links %}
          {% if link == 'My Story' %}
          <div class="col-md-4 card" alt="Card image" style="background-image: url('https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=792&q=80'); background-position: 50% 42%">
              <a href="{{ url_for('about') }}" class="card-title stretched-link">{{ link }}</a>
          </div>
            {% elif link == 'Portfolio' %}
            <div class="col-md-4 card" alt="Card image" style="background-image: url('https://images.unsplash.com/photo-1451680350250-2ae7d6e00f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-position: 50% 60%">
              <a href="{{ url_for('portfolio') }}" class="card-title stretched-link">{{ link }}</a>
            </div>
          {% elif link =='Contact' %}
          <div class="col-md-4 card" alt="Card image" style="background-image: url('https://images.unsplash.com/photo-1498049794561-7780e7231661?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); background-position: 30% 40%">
              <a href="{{ url_for('contact') }}" class="card-title stretched-link">{{ link }}</a>
            </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>



{% include "footer.html" %}